In [1]:
import pandas as pd

In [2]:
#Select path and read file
csvpath = 'Resources/HeroesOfPymoli_purchase_data.csv'
csvfile = pd.read_csv(csvpath)

In [3]:
#Create Data Frame from csv data
csvfile_df = pd.DataFrame(csvfile)

#Align text to the left
def left_align(df):
    left_aligned_df = df.style.set_properties(**{'text-align': 'left'}).set_table_styles(
        [ dict(selector='th', props=[('text-align', 'left')] ) ])
    
    return left_aligned_df

#Align text to the left
left_align(csvfile_df.head(10))

In [4]:
#-------------------------------------------------------#
#                     Player Count                      #
#-------------------------------------------------------#

total_players = csvfile_df['SN'].unique()
player_count = pd.DataFrame({'Total Players':[len(total_players)]})

#Align text to the left
left_align(player_count)

In [5]:
#-------------------------------------------------------#
#                 Purchasing Analysis (Total)           #
#-------------------------------------------------------#

#Number of unique items
unique_items = len(csvfile_df['Item Name'].unique())

#Average of purchase price
avg_price = csvfile_df['Price'].mean()

#Total Number of Purchases
no_purchases = csvfile_df['Purchase ID'].count()

#Total revenue
total_revenue = csvfile_df['Price'].sum()

#Create Data Frame of Purchasing Analysis
purchasing_analysis = pd.DataFrame({'Number of Unique Items':[unique_items], 
                                    'Average Price':[avg_price],
                                    'Number of Purchases':[no_purchases], 
                                    'Total Revenue':[total_revenue]
                                   })
#Formatting values in Data Frame
purchasing_analysis['Average Price'] = purchasing_analysis['Average Price'].map("${:.2f}".format)
purchasing_analysis['Total Revenue'] = purchasing_analysis['Total Revenue'].map("${:,}".format)

#Align text to the left
left_align(purchasing_analysis)

In [6]:
#-------------------------------------------------------#
#                   Gender Demographics                 #
#-------------------------------------------------------#

#Only keep unique users to calculate Male and Female percentages
gender_df = csvfile_df.drop_duplicates(subset=['SN'])

#Percentage and Count of Male Players
male_count = gender_df.loc[gender_df['Gender']=='Male', :]
male_count = male_count['Gender'].count()
male_percentage = (male_count/len(total_players))*100

#Percentage and Count of Male Players
female_count = gender_df.loc[gender_df['Gender']=='Female', :]
female_count = female_count['Gender'].count()
female_percentage = (female_count/len(total_players))*100

#Percentages and Count of Other/Non-Disclosed Players
other_count = gender_df.loc[gender_df['Gender']=='Other / Non-Disclosed', :]
other_count = other_count['Gender'].count()
other_percentage = (other_count/len(total_players))*100

#Create Data Frame of Gender Demographics
gender_demographics = pd.DataFrame({'Gender':['Male', 'Female', 'Other / Non-Disclosed'],
                                    'Total Count':[male_count, female_count, other_count],
                                    'Percentage of Players':[male_percentage, female_percentage, other_percentage]
                                   })
#Format Percentage of Players
gender_demographics['Percentage of Players'] = gender_demographics['Percentage of Players'].map("{:.2f}%".format)

#Align text to the left
left_align(gender_demographics)

In [7]:
#-------------------------------------------------------#
#                Purchasing Analysis (Gender)           #
#-------------------------------------------------------#

#Male purchasing analysis
male_purchase = csvfile_df.loc[csvfile_df['Gender']=='Male', :]
male_purchase_count = male_purchase['Gender'].count()
male_avg_price = male_purchase['Price'].mean()
male_purchase_total = male_purchase['Price'].sum()
male_avg_purchase = male_purchase_total/male_purchase_count
male_avg_total_purchase = male_purchase_total / male_count

#Female purchasing analysis
female_purchase = csvfile_df.loc[csvfile_df['Gender']=='Female', :]
female_purchase_count = female_purchase['Gender'].count()
female_avg_price = female_purchase['Price'].mean()
female_purchase_total = female_purchase['Price'].sum()
female_avg_total_purchase = female_purchase_total / female_count

#Other/Non-Disclosed purchasing analysis
other_purchase = csvfile_df.loc[csvfile_df['Gender']=='Other / Non-Disclosed', :]
other_purchase_count = other_purchase['Gender'].count()
other_avg_price = other_purchase['Price'].mean()
other_purchase_total = other_purchase['Price'].sum()
other_avg_total_purchase = other_purchase_total / other_count

purchasing_analysis_gender = pd.DataFrame({'Gender':['Female', 'Male', 'Other / Non-Disclosed'],
                                          'Purchase Count':[female_purchase_count, male_purchase_count, other_purchase_count],
                                          'Average Purchase Price':[female_avg_price, male_avg_price, other_avg_price],                                                                                                                         
                                          'Total Purchase Value':[female_purchase_total, male_purchase_total, other_purchase_total],
                                          'Avg Total Purchase per Person':[female_avg_total_purchase, male_avg_total_purchase,other_avg_total_purchase]
                                          })

#Formatting values in Data Frame
purchasing_analysis_gender['Average Purchase Price'] = purchasing_analysis_gender['Average Purchase Price'].map("${:.2f}".format)
purchasing_analysis_gender['Total Purchase value'] = purchasing_analysis_gender['Total Purchase Value'].map("${:,}".format)
purchasing_analysis_gender['Avg Total Purchase per Person'] = purchasing_analysis_gender['Avg Total Purchase per Person'].map("${:.2f}".format)

#Align text to the left
left_align(purchasing_analysis_gender)

In [8]:
#-------------------------------------------------------#
#                    Age Demographics                   #
#-------------------------------------------------------#
#Used to determine min and max age in Data Frame (Commented it out since I no longer need to see that information).
#print(total_players['Age'].min())
#print(total_players['Age'].max())

#Making a copy of original file.
copy_csvfile_df = csvfile_df.copy()

#Only keeping unique users in Data Frame
copy_csvfile_df = copy_csvfile_df.drop_duplicates(subset=['SN'])

#Creating age groups and labels
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
age_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

#Binning and adding a new column with data
copy_csvfile_df['Age Ranges'] = pd.cut(copy_csvfile_df['Age'], bins, labels=age_labels)

#Grouped data by Age group(unique)
group_age_u = copy_csvfile_df.groupby(['Age Ranges'])
group_age_pcount_u = group_age_u['SN'].count()
group_age_percentage = (group_age_pcount_u / len(total_players))*100

age_demographics = pd.DataFrame({'Total Count':group_age_pcount_u,
                                'Percentage of Players':group_age_percentage
                                })

#Formatting values in Data Frame
age_demographics['Percentage of Players'] = age_demographics['Percentage of Players'].map("{:.2f}%".format)

#Align text to the left
left_align(age_demographics)

In [9]:
#-------------------------------------------------------#
#                Purchasing Analysis (Age)              #
#-------------------------------------------------------#

#Making a copy of original file
copy2_csvfile_df = csvfile_df.copy()

#Binning and adding a new column with data
copy2_csvfile_df['Age Ranges'] = pd.cut(copy2_csvfile_df['Age'], bins, labels=age_labels)

#Grouped data by Age group
group_age = copy2_csvfile_df.groupby(['Age Ranges'])
group_age_pcount = group_age['SN'].count()
group_age_avgpurchase = group_age['Price'].mean()
group_age_tpurchase = group_age['Price'].sum()
group_age_avg_total_purchase = group_age_tpurchase / group_age_pcount_u

purchasing_age = pd.DataFrame({'Purchase Count':group_age_pcount,
                                 'Average Purchase Price':group_age_avgpurchase,
                                 'Total Purchase Value':group_age_tpurchase,
                                 'Avg Total Purchase per Person':group_age_avg_total_purchase
                                })

#Formatting values in Data Frame
purchasing_age['Average Purchase Price'] = purchasing_age['Average Purchase Price'].map("${:.2f}".format)
purchasing_age['Total Purchase Value'] = purchasing_age['Total Purchase Value'].map("${:.2f}".format)
purchasing_age['Avg Total Purchase per Person'] = purchasing_age['Avg Total Purchase per Person'].map("${:.2f}".format)

#Align text to the left
left_align(purchasing_age)

In [10]:
#-------------------------------------------------------#
#                     Top Spenders                      #
#-------------------------------------------------------#

#Grouped by SN
grouped_top_spenders = csvfile_df.groupby(['SN'])

#Calculate values to be included in new Data Frame
purchase_count_spenders = grouped_top_spenders['SN'].count()
total_purchase_spenders = grouped_top_spenders['Price'].sum()
avg_purchase_spenders = grouped_top_spenders['Price'].mean()

#Creating Data Frame
top_spenders = pd.DataFrame({'Purchase Count':purchase_count_spenders,
                            'Average Purchase Price':avg_purchase_spenders,
                            'Total Purchase Value':total_purchase_spenders
                            })
#Sorting by Total Purchase Value
top_spenders = top_spenders.sort_values('Total Purchase Value', ascending=False)

#Formatting values in Data Frame
top_spenders['Average Purchase Price'] = top_spenders['Average Purchase Price'].map("${:.2f}".format)
top_spenders['Total Purchase Value'] = top_spenders['Total Purchase Value'].map("${:.2f}".format)

#Align text to the left
left_align(top_spenders.head(5))

In [11]:
#-------------------------------------------------------#
#                   Most Popular Items                  #
#-------------------------------------------------------#

#Grouped by SN
grouped_popular_items = csvfile_df.groupby(['Item ID','Item Name'])

#Calculate values to be included in new Data Frame
purchase_count_items = grouped_popular_items['Item Name'].count()
total_purchase_items = grouped_popular_items['Price'].sum()
item_price = total_purchase_items / purchase_count_items
item_name = grouped_popular_items['Item Name']

#Creating Data Frame
items = pd.DataFrame({'Purchase Count':purchase_count_items,
                      'Item Price':item_price,
                      'Total Purchase Value':total_purchase_items
                    })

most_popular_items = items

#Sorting by Purchase Count
most_popular_items = most_popular_items.sort_values('Purchase Count', ascending=False)

#Formatting values in Data Frame
most_popular_items['Item Price'] = most_popular_items['Item Price'].map("${:.2f}".format)
most_popular_items['Total Purchase Value'] = most_popular_items['Total Purchase Value'].map("${:.2f}".format)

#Align text to the left
left_align(most_popular_items.head(5))

In [12]:
#-------------------------------------------------------#
#                 Most Profitable Items                 #
#-------------------------------------------------------#

#Copy Most Popular items Data Frame
most_profitable_items = items.copy()

#Sorting by Total Purchase Value
most_profitable_items = most_profitable_items.sort_values('Total Purchase Value', ascending=False)

#Formatting values in Data Frame
most_profitable_items['Item Price'] = most_profitable_items['Item Price'].map("${:.2f}".format)
most_profitable_items['Total Purchase Value'] = most_profitable_items['Total Purchase Value'].map("${:.2f}".format)

#Align text to the left
left_align(most_profitable_items.head(5))